<h1>OLXy</h1>
<p>Bo z jakiegoś powodu system upvote/downvote jest za trudny dla developerów olx.</p>
<p>Napisane kurna w trzy godziny, nie czepiaj się.</p>

<form>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text">Miasto</span>
    </div>
    <input type="text" class="form-control" [(value)]="city">
  </div>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Cena od</span>
    </div>
    <input type="text" class="form-control" [(value)]="priceFrom">
  </div>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Cena do</span>
    </div>
    <input type="text" class="form-control" [(value)]="priceTo">
  </div>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Prywatny</span>
    </div>
    <input type="text" class="form-control" [(value)]="privateBusiness">
  </div>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Id dzielnicy</span>
    </div>
    <input type="text" class="form-control" [(value)]="districtId">
  </div>
  <div class="input-group input-group-sm mb-3" style="width:300px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Strona</span>
    </div>
    <input type="text" class="form-control" [(value)]="page">
  </div>

</form>


<div class="my-2">
  <button class="btn btn-primary mr-2" (click)="process()">Odśwież</button>
  <button class="btn btn-danger mr-2" (click)="previousPage()">Poprzednia strona</button>
  <button class="btn btn-success mr-2" (click)="nextPage()">Następna strona</button>
</div>

<div class="mb-5">
  <div *ngIf="adverts">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Status</th>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Nazwa ogłoszenia</th>
          <th scope="col">Cena</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let advert of adverts; index as i" [class.promoted-ad]="advert.promoted">
          <td style="width:100px">
            <button class="mini-button btn btn-success" (click)="upvote(advert)">
            </button>
            <button class="mini-button btn btn-danger" (click)="downvote(advert)">
            </button>
            <button class="mini-button btn btn-info" (click)="clearvote(advert)"> </button>
          </td>
          <!-- <th scope="row">{{i+1}}</th> -->
          <td><a href="{{advert.url}}" [class.text-success]="advert.status == status.Upvote"
              [class.text-danger]="advert.status == status.Downvote">{{advert.name}}</a></td>
          <td>{{advert.priceNum}} zł</td>
          <td>{{advert.publicationDate}}</td>
        </tr>
      </tbody>
    </table>


    <div class="my-2">
      <button class="btn btn-primary mr-2" (click)="process()">Odśwież</button>
      <button class="btn btn-danger mr-2" (click)="previousPage()">Poprzednia strona</button>
      <button class="btn btn-success mr-2" (click)="nextPage()">Następna strona</button>
    </div>

  </div>
  <div *ngIf='!adverts'>
    Ładowanie...
  </div>
</div>
<p>Jak jakieś wąty to na <a href="mailto:igor.nowicki.spam@gmail.com">igor.nowicki.spam@gmail.com</a></p>
